@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

:root {
  background-color: #F9F5FC;
  //background-color: #44384ee6;
  //--text-color:
  //--text-secondary:
  //--primary-color:
  //
  //--background-color:
  //--background-color-light:
  //--background-color-dark:
  //
  //--font-family:
  //--box-shadow:
}

body {
  background-color: #44384ee6;

  .header-component {
    padding: 15px;
    background-color: #44384e;

    a {
      font: normal normal bold Montserrat;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 40px;
      letter-spacing: 0;
      font-size: 18px;
      color: #918998;
      opacity: 1;

      &:first-child {
        margin-left: 65px;
      }

      &.active {
        color: #FFF0F0;
      }

      &:hover {
        color: #FFF0F0;
        text-decoration: none;
      }
    }
  }

  .nav-component {
    color: #FFF0F0;
  }

  .banner-component {
    background-color: #44384E;

    .banner-content {
      position: absolute;
      //left: 424px;
      //top: 35%;
      left: 19vw;
      top: 20vw;
      > div {
        margin-bottom: 65px;

        p {
          font: normal normal bold 60px/75px Quicksand;
          letter-spacing: 0;
          margin-bottom: 0;
          font-size: 3vw;
          color: #FFFFFF;
          opacity: 1;
        }
        span {
          font: normal normal bold 60px/75px Quicksand;
          color: #00A0AB;
          svg {
            width: 35.4vw;
          }
        }
      }

      button {
        background: #FFF0F0 0% 0% no-repeat padding-box;
        font: normal normal Montserrat;
        font-weight: bold;
        border-radius: 100px;
        padding: 28px 73px;
        font-size: 20px;
        color: #44384E;
      }
    }
  }

  .agenda-component {
    background-color: #F9F5FC;
    padding-top: 40px;

    .agenda-title {
      margin-bottom: 40px;

      h1 {
        font: normal normal Montserrat;
        font-weight: bold;
        font-size: 60px;
        color: #44384E;
        opacity: 1;
      }
    }

    .agenda-content {
      .active-agenda {
        background: #44384E 0 0 no-repeat padding-box;
        border-color: #FFF0F0;
        color: #FFF0F0;
      }
      button {
        background: #FFF0F0 0 0 no-repeat padding-box;
        font: normal normal Montserrat;
        border-color: #FFF0F0;
        border-radius: 100px;
        padding: 21px 27px;
        margin-right: 40px;
        font-weight: bold;
        font-size: 16px;
        color: #44384E;
        opacity: 1;

        &:focus {
          outline: none
        }

        &:hover {
          background: #44384E 0 0 no-repeat padding-box;
          border-color: #FFF0F0;
          color: #FFF0F0;
        }
      }
    }

    .agenda-content-cards {
      .row {
        border-bottom: 1px solid #918998;
      }

      .agenda-content-card-first, .agenda-content-card-second, .agenda-content-card-third, .agenda-content-card-fourth {
        padding-bottom: 30px;
        margin-top: 60px;
        display: flex;

        .agenda-content-time {
          font: normal normal Montserrat;
          white-space: nowrap;
          margin-right: 100px;
          font-weight: bold;
          font-size: 16px;
          color: #44384E;
        }

        .card-row {
          display: flex;

          .card {
            background-color: #ffffff;
            border-radius: 5px;
            margin-right: 10px;
            max-width: 240px;
            border: 0;

            .card-body {
              .card-title {
                font: normal normal Montserrat;
                font-weight: bold;
                font-size: 16px;
                color: #44384E;
              }

              .card-text {
                font: normal normal normal 16px/26px Montserrat;
                padding-top: 12px;
                font-size: 16px;
                color: #44384E;
              }

              button {
                font: normal normal Montserrat;
                text-decoration: underline;
                font-weight: bold;
                background: none;
                font-size: 16px;
                padding-left: 0;
                color: #00A0AB;
                border: none;
              }
            }

            &:hover {
              background-color: #44384E;
              cursor: pointer;

              .card-body {
                .card-title {
                  color: #FFF0F0;
                }

                .card-text {
                  color: #FFF0F0;
                }
              }
            }
          }
        }
      }
    }
  }

  .slider-component {
    background-color: #F9F5FC;

    .slick-slide > div {
      transform: scale(.5);
      transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    }

    .slick-center > div {
      transform: scale(1);
    }

    .slider__item > img {
      width: 100%;
      height: auto;
    }

    margin-top: 60px;

    .slick-list {
      padding: 0 30%;
    }
  }

  .event-component {
    background-color: #F9F5FC;

    .event-content {
      margin-top: 40px;
      display: flex;

      p {
        font: normal normal Montserrat;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 60px;
        color: #44384E;
        opacity: 1;
      }

      > .event-text {
        padding-bottom: 40px;
        padding-right: 30px;

        span {
          font: normal normal normal 18px/26px Montserrat;
          padding-right: 70px;
          letter-spacing: 0;
          color: #44384E;
        }
      }
    }
  }

  .rules-component {
    background-color: #44384E;
    color: #FFF0F0;
    padding: 60px;

    .rules-title {
      h1 {
        font: normal normal bold 60px/73px Montserrat;
      }
    }

    .rules-content {
      strong {
        font-size: 17px;
      }

      p {
        font: normal normal normal 18px/26px Montserrat;
        color: #44384E;
      }
    }

    button {
      background: #FFF0F0 0 0 no-repeat padding-box;
      font: normal normal Montserrat;
      border-color: #FFF0F0;
      border-radius: 100px;
      padding: 21px 27px;
      font-weight: bold;
      font-size: 16px;
      color: #44384E;
      opacity: 1;

      &:hover {
        background: #44384E 0 0 no-repeat padding-box;
        border-color: #FFF0F0;
        color: #FFF0F0;
      }
    }
  }

  .details-component {
    background-color: #F9F5FC;
  }

  .history-component {
    background-color: #F9F5FC;
    padding-top: 51px;

    .history-title {
      padding-bottom: 30px;

      h1 {
        font: normal normal 34px/42px Montserrat;
        font-weight: bold;
        color: #44384E;
      }
    }

    .history-content {
      display: flex;

      .card {
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 10px #44384E1A;
        border-radius: 5px;
        margin-right: 30px;
        max-width: 350px;
        border: none;

        button {
          font: normal normal Montserrat;
          text-decoration: underline;
          font-weight: bold;
          background: none;
          font-size: 16px;
          padding-left: 0;
          color: #00A0AB;
          border: none;
        }

        &:hover {
          background-color: #44384E;
          cursor: pointer;

          .card-body {
            .card-title {
              color: #FFF0F0;
            }

            .card-text {
              color: #FFF0F0;
            }
          }
        }
      }

    }

    .btn-div {
      display: flex;
      justify-content: center;

      button {
        margin-top: 60px;
        background: #44384E 0 0 no-repeat padding-box;
        font: normal normal Montserrat;
        border-color: #FFF0F0;
        border-radius: 100px;
        padding: 21px 27px;
        font-weight: bold;
        font-size: 16px;
        color: #FFF0F0;
        opacity: 1;

        &:hover {
          background: #FFF0F0 0 0 no-repeat padding-box;
          border-color: #FFF0F0;
          color: #44384E;
        }
      }
    }
  }

  .shop-component {
    background-color: #F9F5FC;

    .shop-content {
      margin-top: 40px;
      display: flex;

      p {
        font: normal normal Montserrat;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 60px;
        color: #44384E;
        opacity: 1;
      }

      > .shop-text {
        margin-top: 15%;
        padding-right: 30px;

        span {
          font: normal normal normal 18px/26px Montserrat;
          padding-right: 70px;
          letter-spacing: 0;
          color: #44384E;
        }

        .btn-div {
          display: flex;
          justify-content: center;

          button {
            margin-top: 60px;
            background: #44384E 0 0 no-repeat padding-box;
            font: normal normal Montserrat;
            border-color: #FFF0F0;
            border-radius: 100px;
            padding: 21px 27px;
            font-weight: bold;
            font-size: 16px;
            color: #FFF0F0;
            opacity: 1;

            &:hover {
              background: #FFF0F0 0 0 no-repeat padding-box;
              border-color: #FFF0F0;
              color: #44384E;
            }
          }
        }
      }
    }
  }

  .modal-dialog {
    .modal-content {
      .modal-header {
        border-bottom: 0;
      }
      .modal-footer {
        button {
          background-color: #44384e;
        }
      }
    }
  }

  .footer-component {
    background-color: #44384E;
    text-align: center;
    padding: 70px 90px;

    p {
      font: normal normal normal 16px/19px Montserrat;
      letter-spacing: 0;
      padding: 26px 26px;
      color: #FFF0F0;
      opacity: 1;
    }

    .social-media {
      cursor: pointer;
    }
  }
}


//@import 'components/components';
//@import 'components/header';
@import 'components/navigation';
//@import 'components/banner';
@import "~bootstrap/scss/bootstrap";
