// colors
$primary-color: #FFF0F0;
$secondary-color: #44384e;
$secondary-dark-color: #44384ee6;
$primary-dark-color: #918998;
$pink-light: #F9F5FC;
$span-color: #00A0AB;

// fonts
$font-family: normal normal bold Montserrat;
$strong-font-size: 17px;
$title-font-size: 16px;
$a-font-size: 18px;
$font-family-p: normal normal bold 60px/75px Quicksand;;
